section.title {
  --title-h1-font-size: var(--font-size-3xl);
  --title-metadata-color-text: var(--color-grey-medium);
  padding-top: var(--base-padding-y);
  justify-content: center;
}
section.title h1 {
  font-size: var(--title-h1-font-size);
  display: block;
  flex: 0 0 80%;
  align-content: center;
  margin: 0;
}
section.title h1 small {
  display: block;
  margin-top: 0.5em;
  font-size: 0.5em;
}
section.title h1 + p {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: right;
  color: var(--title-metadata-color-text);
  margin: 0;
}
