// white-canvas code configuration

@use '../../canvas/element/code' as base;

@include base.configure(
  $font-mono: var(--font-family-mono),
  $color-bg: color-mix(in srgb, var(--color-grey-light) 10%, transparent),
  $color-fg: var(--color-grey-darkest)
);
