section.section {
  --section-font-size: var(--font-size-xxl);
  --section-font-weight: bold;
  padding-top: var(--base-padding-y);
  justify-content: center;
}
section.section p {
  flex: 0 1;
  display: block;
  font-size: var(--section-font-size);
  font-weight: var(--section-font-weight);
  margin: 0;
}
