// ===== _section.scss =====
// Styles for section divider page
//
// Usage: <!-- _class: section -->

@mixin configure($font-size, $font-weight: bold) {
  &.section {
    justify-content: center;

    // p: Section title
    // Vertically centered
    p {
      flex: 0 1;
      display: block;
      align-items: center;
      font-size: $font-size;
      font-weight: $font-weight;
      margin: 0;
    }
  }
}
