// ===== _title.scss =====
// Styles for title page
//
// Usage: <!-- _class: title -->

@mixin configure($font-size-title, $color-metadata-text) {
  &.title {
    justify-content: center;

    // h1: Title text
    // Occupies 80% of section, vertically centered, left-aligned
    h1 {
      font-size: $font-size-title;
      display: flex;
      flex: 0 0 80%;
      flex-wrap: wrap;
      justify-content: start;
      align-items: center;
      align-content: center;
      margin: 0;

      // small: Subtitle
      small {
        display: block;
        margin-top: 0.5em;
        font-size: 0.5em;
      }

      img.emoji {
        margin-top: .1em;
      }
    }

    // p after h1: Date, event name, author name
    h1 + p {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      text-align: right;
      color: $color-metadata-text;
      margin: 0;
    }
  }
}
