section.text-left p {
  text-align: left;
}
section.text-center p {
  text-align: center;
}
section.text-right p {
  text-align: right;
}
section.text-justify p {
  text-align: justify;
}
section.text-start p {
  text-align: start;
}
section.text-end p {
  text-align: end;
}
section.text-has-img-left p:has(img:not(.emoji)) {
  text-align: left;
}
section.text-has-img-center p:has(img:not(.emoji)) {
  text-align: center;
}
section.text-has-img-right p:has(img:not(.emoji)) {
  text-align: right;
}

.col.text-left p,
[class^=col-].text-left p,
[class*=" col-"].text-left p {
  text-align: left;
}
.col.text-center p,
[class^=col-].text-center p,
[class*=" col-"].text-center p {
  text-align: center;
}
.col.text-right p,
[class^=col-].text-right p,
[class*=" col-"].text-right p {
  text-align: right;
}
.col.text-justify p,
[class^=col-].text-justify p,
[class*=" col-"].text-justify p {
  text-align: justify;
}
.col.text-start p,
[class^=col-].text-start p,
[class*=" col-"].text-start p {
  text-align: start;
}
.col.text-end p,
[class^=col-].text-end p,
[class*=" col-"].text-end p {
  text-align: end;
}
.col.text-has-img-left p:has(img:not(.emoji)),
[class^=col-].text-has-img-left p:has(img:not(.emoji)),
[class*=" col-"].text-has-img-left p:has(img:not(.emoji)) {
  text-align: left;
}
.col.text-has-img-center p:has(img:not(.emoji)),
[class^=col-].text-has-img-center p:has(img:not(.emoji)),
[class*=" col-"].text-has-img-center p:has(img:not(.emoji)) {
  text-align: center;
}
.col.text-has-img-right p:has(img:not(.emoji)),
[class^=col-].text-has-img-right p:has(img:not(.emoji)),
[class*=" col-"].text-has-img-right p:has(img:not(.emoji)) {
  text-align: right;
}
