// cool title pattern configuration

@use '../../../../scss/canvas/slide-pattern/title' as base;

@include base.configure(
  $padding-top: var(--base-padding-y),
  $font-size-title: var(--font-size-3xl),
  $color-metadata-text: var(--color-grey-light)
);
