:root {
  --header-margin-x: var(--outer-margin-x);
  --header-margin-y: var(--outer-margin-y);
  --header-font-size: var(--font-size-xs);
  --header-color-text: var(--color-grey-medium);
}

header {
  position: absolute;
  top: var(--header-margin-y);
  left: var(--header-margin-x);
  font-size: var(--header-font-size);
  color: var(--header-color-text);
}
