:root {
  --base-padding-x: var(--slide-padding-x);
  --base-padding-y: var(--slide-padding-y);
  --base-color-bg: var(--color-white);
  --base-color-text: var(--color-grey-darkest);
  --base-font-family: var(--font-family-base);
  --base-font-size: var(--font-size-base);
  --base-line-height: var(--line-height-normal);
  --base-section-title-height: calc(var(--font-size-xl) * var(--line-height-tight) + var(--font-size-xl) * 0.8em / 1em);
}

section {
  width: 1920px;
  height: 1080px;
  padding: calc(var(--base-padding-y) + var(--base-section-title-height)) var(--base-padding-x) var(--base-padding-y);
  background-color: var(--base-color-bg);
  color: var(--base-color-text);
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

section > h2:first-child {
  position: absolute;
  top: var(--base-padding-y);
  left: var(--base-padding-x);
}
