// ===== _text-align.scss =====
// Text alignment utility classes
//
// Usage: <!-- _class: text-center -->

@mixin configure {
  section {
    &.text-left p {
      text-align: left;
    }

    &.text-center p {
      text-align: center;
    }

    &.text-right p {
      text-align: right;
    }

    &.text-justify p {
      text-align: justify;
    }

    &.text-start p {
      text-align: start;
    }

    &.text-end p {
      text-align: end;
    }
  }

  // .col text-align utilities
  .col,
  [class^='col-'],
  [class*=' col-'] {
    &.text-left p {
      text-align: left;
    }

    &.text-center p {
      text-align: center;
    }

    &.text-right p {
      text-align: right;
    }

    &.text-justify p {
      text-align: justify;
    }

    &.text-start p {
      text-align: start;
    }

    &.text-end p {
      text-align: end;
    }
  }
}
