:root {
  --color-black: #000;
  --color-white: #fff;
  --color-grey-lightest: #cbd5e1;
  --color-grey-lighter: #94a3b8;
  --color-grey-light: #64748b;
  --color-grey-medium: #475569;
  --color-grey-dark: #334155;
  --color-grey-darker: #1e293b;
  --color-grey-darkest: #0f172a;
  --color-blue: #2563eb;
}
