:root {
  --footer-margin-x: var(--outer-margin-x);
  --footer-margin-y: var(--outer-margin-y);
  --footer-font-size: var(--font-size-xs);
  --footer-color-text: var(--color-grey-light);
}

footer {
  position: absolute;
  bottom: var(--footer-margin-y);
  left: var(--footer-margin-x);
  font-size: var(--footer-font-size);
  color: var(--footer-color-text);
}
