:root {
  --image-caption-font-size: var(--font-size-s);
}

:has(> img + br + em) {
  width: fit-content;
}

img:has(+ br + em) {
  display: block;
  margin: 0 auto;
}

img + br:has(+ em) {
  display: none;
}

img + br + em {
  display: block;
  font-style: normal;
  font-size: var(--image-caption-font-size);
  color: inherit;
  text-align: center;
}
