:root {
  --image-caption-font-size: var(--font-size-s);
}

img:has(+ br + em) {
  display: block;
}

img + br:has(+ em) {
  display: none;
}

img + br + em {
  font-style: normal;
  font-size: var(--image-caption-font-size);
  color: inherit;
}
