// black-canvas header configuration

@use '../../canvas/component/header' as base;

@include base.configure(
  $margin-x: 80px,
  $margin-y: 20px,
  $font-size: var(--font-size-xs),
  $color-text: var(--color-grey-light)
);
