// black-canvas footer configuration

@use '../../canvas/component/footer' as base;

@include base.configure(
  $margin-x: var(--outer-margin-x),
  $margin-y: var(--outer-margin-y),
  $font-size: var(--font-size-xs),
  $color-text: var(--color-grey-light)
);
