// ===== _blockquote.scss =====
// Marpスライドの引用スタイル

@mixin configure($font-size, $line-height, $color-text, $color-bg, $color-mark, $border-radius) {
  blockquote {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    padding: 0.5em 0.5em 0.5em 2em;
    font-size: $font-size;
    font-style: italic;
    line-height: $line-height;
    color: $color-text;
    background: $color-bg;
    border-radius: $border-radius;

    // 左上の引用符
    &::before {
      content: '“';
      position: absolute;
      left: 0.2em;
      font-size: 2em;
      line-height: 1;
      color: $color-mark;
    }

    // 子要素のmargin調整
    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }
}
