// ===== _header.scss =====
// Header styles for Marp slides

@mixin configure($margin-x, $margin-y, $font-size, $color-text) {
  header {
    position: absolute;
    top: $margin-y;
    left: $margin-x;
    font-size: $font-size;
    color: $color-text;
  }
}
