// ===== _footer.scss =====
// Footer styles for Marp slides

@mixin configure($margin-x, $margin-y, $font-size, $color-text) {
  footer {
    position: absolute;
    bottom: $margin-y;
    left: $margin-x;
    font-size: $font-size;
    color: $color-text;
  }
}
