// ===== _section.scss =====
// Styles for Marp slide section (body)

@mixin configure(
  $width,
  $height,
  $padding-x,
  $padding-y,
  $color-bg,
  $color-text,
  $font-family,
  $font-size,
  $line-height,
  $bullet-list-indent,
  $numbered-list-indent,
  $bullet-list-padding-left,
  $numbered-list-padding-left
) {
  width: $width;
  height: $height;
  padding: $padding-y $padding-x;
  background-color: $color-bg;
  color: $color-text;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;

  // Reset margin-top for content elements
  p,
  ul,
  ol,
  blockquote,
  pre {
    margin-top: 0;
  }

  // Adjust list indentation
  ul {
    padding-inline-start: $bullet-list-indent;

    > li {
      padding-left: $bullet-list-padding-left;
    }
  }

  ol {
    padding-inline-start: $numbered-list-indent;

    > li {
      padding-left: $numbered-list-padding-left;
    }
  }
}
