// ===== _heading.scss =====
// Heading styles for Marp slides (h1-h6)

@mixin configure(
  $h1-font-size: 1em,
  $h2-font-size: 1em,
  $h3-font-size: 1em,
  $h4-font-size: 1em,
  $h5-font-size: 1em,
  $h6-font-size: 1em,
  $h1-font-weight: bold,
  $h2-font-weight: bold,
  $h3-font-weight: bold,
  $h4-font-weight: bold,
  $h5-font-weight: normal,
  $h6-font-weight: normal,
  $h1-line-height: inherit,
  $h2-line-height: inherit,
  $h3-line-height: inherit,
  $h4-line-height: inherit,
  $h5-line-height: inherit,
  $h6-line-height: inherit,
  $h1-color-text: inherit,
  $h2-color-text: inherit,
  $h3-color-text: inherit,
  $h4-color-text: inherit,
  $h5-color-text: inherit,
  $h6-color-text: inherit
) {
  :root {
    --h1-font-size: #{$h1-font-size};
    --h2-font-size: #{$h2-font-size};
    --h3-font-size: #{$h3-font-size};
    --h4-font-size: #{$h4-font-size};
    --h5-font-size: #{$h5-font-size};
    --h6-font-size: #{$h6-font-size};
    --h1-font-weight: #{$h1-font-weight};
    --h2-font-weight: #{$h2-font-weight};
    --h3-font-weight: #{$h3-font-weight};
    --h4-font-weight: #{$h4-font-weight};
    --h5-font-weight: #{$h5-font-weight};
    --h6-font-weight: #{$h6-font-weight};
    --h1-line-height: #{$h1-line-height};
    --h2-line-height: #{$h2-line-height};
    --h3-line-height: #{$h3-line-height};
    --h4-line-height: #{$h4-line-height};
    --h5-line-height: #{$h5-line-height};
    --h6-line-height: #{$h6-line-height};
    --h1-color-text: #{$h1-color-text};
    --h2-color-text: #{$h2-color-text};
    --h3-color-text: #{$h3-color-text};
    --h4-color-text: #{$h4-color-text};
    --h5-color-text: #{$h5-color-text};
    --h6-color-text: #{$h6-color-text};
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 0.5em;
  }

  h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
    line-height: var(--h1-line-height);
    color: var(--h1-color-text);
  }

  h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
    line-height: var(--h2-line-height);
    color: var(--h2-color-text);
    margin: 0 0 0.8em;
  }

  h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
    line-height: var(--h3-line-height);
    color: var(--h3-color-text);
  }

  h4 {
    font-size: var(--h4-font-size);
    font-weight: var(--h4-font-weight);
    line-height: var(--h4-line-height);
    color: var(--h4-color-text);
  }

  h5 {
    font-size: var(--h5-font-size);
    font-weight: var(--h5-font-weight);
    line-height: var(--h5-line-height);
    color: var(--h5-color-text);
  }

  h6 {
    font-size: var(--h6-font-size);
    font-weight: var(--h6-font-weight);
    line-height: var(--h6-line-height);
    color: var(--h6-color-text);
  }
}
