// ===== _toc.scss =====
// Styles for table of contents page
//
// Usage: <!-- _class: toc -->

@mixin configure($font-size, $line-height) {
  &.toc {
    // List: Table of contents items (direct children only)
    > ul,
    > ol {
      font-size: $font-size;
      line-height: $line-height;
    }
  }
}
