// ===== _light.scss =====
// シンタックスハイライト（Light テーマ）カラー定義
// github-markdown-css v5.8.1 を改変
// https://github.com/sindresorhus/github-markdown-css/blob/v5.8.1/github-markdown-light.css

@use 'base';

// ===== Light テーマカラー =====
$pl-comment: #59636e;
$pl-constant: #0550ae;
$pl-entity: #6639ba;
$pl-entity-tag: #0550ae;
$pl-keyword: #cf222e;
$pl-string: #0a3069;
$pl-variable: #953800;
$pl-storage-modifier: #1f2328;
$pl-markup-heading: #0550ae;
$pl-markup-list: #3b2300;
$pl-markup-inserted-text: #116329;
$pl-markup-inserted-bg: #dafbe1;
$pl-markup-deleted-text: #82071e;
$pl-markup-deleted-bg: #ffebe9;

@mixin configure {
  @include base.configure(
    $pl-comment,
    $pl-constant,
    $pl-entity,
    $pl-entity-tag,
    $pl-keyword,
    $pl-string,
    $pl-variable,
    $pl-storage-modifier,
    $pl-markup-heading,
    $pl-markup-list,
    $pl-markup-inserted-text,
    $pl-markup-inserted-bg,
    $pl-markup-deleted-text,
    $pl-markup-deleted-bg
  );
}
