// black-canvas theme entry point

:root {
  --base-padding-x: 80px;
  --base-padding-y: 80px;
  --font-family-base: 'Noto Sans JP', sans-serif;
  --font-family-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;

  --outer-margin-x: 20px;
  --outer-margin-y: var(--base-padding-y);
}

// Token
@use 'token/color';
@use 'token/typography';

// Element
@use 'element/heading';
@use 'element/paragraph';
@use 'element/list';
@use 'element/link';
@use 'element/table';
@use 'element/code';
@use 'element/blockquote';
@use 'element/hr';
@use 'element/text-decorator';
@use 'element/prettylights/dark';

// Component
@use 'component/section';
@use 'component/pagination';
@use 'component/header';
@use 'component/footer';
@use 'component/columns';

// Pattern
@use 'pattern/title';
@use 'pattern/toc';
@use 'pattern/section' as pattern-section;
@use 'pattern/agenda';
@use 'pattern/display';
