:root {
  --ul-indent: 1.1em;
  --ol-indent: 1.1em;
  --ul-li-padding-left: 0.2em;
  --ol-li-padding-left: 0.2em;
}

ul {
  margin-top: 0;
  padding-inline-start: var(--ul-indent);
}
ul > li {
  padding-left: var(--ul-li-padding-left);
}

ol {
  margin-top: 0;
  padding-inline-start: var(--ol-indent);
}
ol > li {
  padding-left: var(--ol-li-padding-left);
}
