// white-canvas header configuration

@use '../../canvas/component/header' as base;

@include base.configure(
  $margin-x: var(--outer-margin-x),
  $margin-y: var(--outer-margin-y),
  $font-size: var(--font-size-xs),
  $color-text: var(--color-grey-medium)
);
