// cool text-decorator configuration

@use '../../../../scss/canvas/component/text-decorator' as base;

@include base.configure(
  $strong-font-weight: var(--font-weight-bold),
  $mark-font-weight: var(--font-weight-bold),
  $mark-color-bg: var(--color-accent),
  $rp-font-weight: var(--font-weight-normal)
);
