// ===== _typography.scss =====
// Typography design tokens

@mixin configure(
  $font-size-base: 40px,
  $font-size-xs: 0.7em,
  $font-size-s: 0.85em,
  $font-size-m: 1em,
  $font-size-l: 1.15em,
  $font-size-xl: 1.3em,
  $font-size-xxl: 2em,
  $font-size-3xl: 2.5em,
  $font-weight-normal: 400,
  $font-weight-bold: 700,
  $font-weight-black: 900,
  $line-height-tight: 1.2,
  $line-height-normal: 1.45,
  $line-height-loose: 2
) {
  :root {
    // Font Size
    --font-size-base: #{$font-size-base};
    --font-size-xs: #{$font-size-xs};
    --font-size-s: #{$font-size-s};
    --font-size-m: #{$font-size-m};
    --font-size-l: #{$font-size-l};
    --font-size-xl: #{$font-size-xl};
    --font-size-xxl: #{$font-size-xxl};
    --font-size-3xl: #{$font-size-3xl};

    // Font Weight
    --font-weight-normal: #{$font-weight-normal};
    --font-weight-bold: #{$font-weight-bold};
    --font-weight-black: #{$font-weight-black};

    // Line Height
    --line-height-tight: #{$line-height-tight};
    --line-height-normal: #{$line-height-normal};
    --line-height-loose: #{$line-height-loose};
  }
}
